<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shardingjdbc.dao.ApOpUserMapper">
  <resultMap id="BaseResultMap" type="com.example.shardingjdbc.entity.ApOpUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_cd" jdbcType="VARCHAR" property="userCd" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="create_by_id" jdbcType="INTEGER" property="createById" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="update_by_id" jdbcType="INTEGER" property="updateById" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_cd, type, openid, unionid, phone, email, img_url, active, create_by_name, 
    create_by_id, create_time, update_by_name, update_by_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ap_op_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ap_op_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    insert into ap_op_user (user_id, user_cd, type, 
      openid, unionid, phone, 
      email, img_url, active, 
      create_by_name, create_by_id, create_time, 
      update_by_name, update_by_id, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{userCd,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, 
      #{createByName,jdbcType=VARCHAR}, #{createById,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateByName,jdbcType=VARCHAR}, #{updateById,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    insert into ap_op_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userCd != null">
        user_cd,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCd != null">
        #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    update ap_op_user
    <set>
      <if test="userCd != null">
        user_cd = #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    update ap_op_user
    set user_cd = #{userCd,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_by_id = #{createById,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_by_id = #{updateById,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.shardingjdbc.entity.ApOpUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_cd" jdbcType="VARCHAR" property="userCd" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="create_by_id" jdbcType="INTEGER" property="createById" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="update_by_id" jdbcType="INTEGER" property="updateById" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_cd, type, openid, unionid, phone, email, img_url, active, create_by_name, 
    create_by_id, create_time, update_by_name, update_by_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ap_op_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ap_op_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    insert into ap_op_user (user_id, user_cd, type, 
      openid, unionid, phone, 
      email, img_url, active, 
      create_by_name, create_by_id, create_time, 
      update_by_name, update_by_id, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{userCd,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, 
      #{createByName,jdbcType=VARCHAR}, #{createById,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateByName,jdbcType=VARCHAR}, #{updateById,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    insert into ap_op_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userCd != null">
        user_cd,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCd != null">
        #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    update ap_op_user
    <set>
      <if test="userCd != null">
        user_cd = #{userCd,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shardingjdbc.entity.ApOpUser">
    update ap_op_user
    set user_cd = #{userCd,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_by_id = #{createById,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_by_id = #{updateById,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>